* {
	font-family: 'Times New Roman', 'Times, serif';
}

/* .navMenu {
	
	position: absolute;
	top: 1%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} */

.navMenu a {
	color: #0ba584;
	text-decoration: none !important;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-block;
	width: 200px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
	color: #02f7e2;
}

.navMenu .dot {
	width: 10px;
	height: 10px;
	background: #02f5d4;
	border-radius: 50%;
	opacity: 0;
	-webkit-transform: translateX(80px);
	transform: translateX(80px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
	-webkit-transform: translateX(245px);
	transform: translateX(245px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
	-webkit-transform: translateX(450px);
	transform: translateX(450px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
	-webkit-transform: translateX(660px);
	transform: translateX(660px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

.stick {
	width: 50px;
	line-height: 50px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 600;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px #b1adadee;
	font-size: large;
	text-align: center;
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: fixed;
	right: 38%;
	top: 300px;
	transition: all 0.2s ease-in 0s;
	z-index: 9999;
	cursor: pointer;
	background-color: rgb(7, 201, 7);
	border-radius: 50%;
}
.stick2 {


	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	position: fixed;
	right: 0.1%;
	top: 240px;
	transition: all 0.2s ease-in 0s;
	z-index: 9999;
}
